body{
	background-color:#111111;
}
#encabezado{
	background-color:#000000;
}
.bg-mybg{
	background-color:#343a40;/* 343a40 */ 
}
#encabezado img {
	height:100px;
}
/* h1,h3{ */
/* 	color:white; */
/* 	background-color:#82151d; */
/* 	    margin-bottom: 0px; */
	    
	
/* } */

.texto{
	opacity: 0.75;
	text-align:center;
	border: #82151d 5px ridge;
	
    width: 510px;
	
    margin-left: 300px;
	
	
}